* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #222222;
    padding-top: 90px;
    transition: 0.4s ease;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
/* ================= HEADER ================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    /* LIGHT MODE */
    background: #ffffff;
    color: #222222;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    z-index: 1000;

    transition: background 0.4s ease, color 0.4s ease;
}


/* ================= LOGO ================= */

.logo img {
    display: block;
    width: 170px;
    height: auto;
}


/* ================= NAVIGATION ================= */

.nav-links {
    list-style: none;

    display: flex;
    align-items: center;

    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;

    color: #222222;

    padding: 10px 0;

    font-weight: 500;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}


/* ================= DROPDOWN ================= */

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;

    width: 180px;

    background: #ffffff;

    border: 2px solid #ff9800;
    border-radius: 12px;

    display: none;

    overflow: hidden;

    list-style: none;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;

    padding: 12px 18px;

    color: #000000;
}

.dropdown-menu li a:hover {
    background: #ff9800;
    color: #ffffff;
}


/* ================= RIGHT BUTTONS ================= */

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right button,
.book-btn {

    height: 46px;

    padding: 0 22px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}


/* RTL BUTTON */

#rtlBtn {
    background: #ffffff;
    color: #0d6efd;
}

#rtlBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* THEME BUTTON */

#themeBtn {
    width: 46px;

    padding: 0;

    background: #ffffff;
    color: #0d6efd;
}

#themeBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* BOOK BUTTON */

.book-btn {
    background: #ff9800;
    color: #ffffff;
}

.book-btn:hover {
    background: #ffb347;
    color: #000000;
}


/* =================================================
                DARK MODE HEADER
================================================= */

body.dark .header {
    background: #000000;
    color: #ffffff;
}

body.dark .nav-links a {
    color: #ffffff;
}

body.dark .nav-links a:hover {
    color: #ff9800;
}


/* DARK MODE DROPDOWN */

body.dark .dropdown-menu {
    background: #000000;
    border-color: #ff9800;
}

body.dark .dropdown-menu li a {
    color: #ffffff;
}

body.dark .dropdown-menu li a:hover {
    background: #ff9800;
    color: #ffffff;
}


/* DARK MODE BUTTONS */

body.dark #rtlBtn,
body.dark #themeBtn {
    background: #ffffff;
    color: #0d6efd;
}

body.dark #rtlBtn:hover,
body.dark #themeBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* =================================================
                    RTL
================================================= */

html[dir="rtl"] .header {
    flex-direction: row-reverse;
}

html[dir="rtl"] .header-right {
    flex-direction: row-reverse;
}


/* =================================================
                  RESPONSIVE
================================================= */

@media (max-width: 768px) {

    .header {
        height: auto;

        padding: 15px 5%;

        flex-wrap: wrap;

        gap: 15px;
    }

    .nav-links {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;

        gap: 20px;
    }

    .header-right {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;
    }

    .logo img {
        width: 150px;
    }
}
 
 
 

.about-hero{
    width:100%;
    height:70vh;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("image//home\ page.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.about-overlay h1{
    color:#FFFFFF;
    font-size:65px;
    font-weight:700;
    margin-bottom:20px;
    letter-spacing:2px;
}

.about-overlay p{
    color:#FFFFFF;
    font-size:20px;
    font-weight:500;
}

.about-overlay p span{
    color:#FF8C00;
    margin:0 10px;
}

.about-overlay p:hover{
    color:#FF8C00;
    transition:.4s;
}

/* Responsive */

@media(max-width:768px){

.about-hero{
    height:50vh;
}

.about-overlay h1{
    font-size:45px;
}

.about-overlay p{
    font-size:17px;
}

}
.about-section{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:100px 8%;
    background:#FFFFFF;
    flex-wrap:wrap;
}

.about-image{
    flex:1;
    min-width:320px;
}

.about-image img{
    width:100%;
    height:520px;
    object-fit:cover;
    border-radius:20px;
    border:5px solid #0A74DA;
    transition:.5s;
}

.about-image img:hover{
    transform:scale(1.03);
}

.about-content{
    flex:1;
    min-width:320px;
}

.about-content h4{
    color:#FF8C00;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.about-content h2{
    font-size:42px;
    color:#000000;
    margin-bottom:25px;
}

.about-content p{
    color:#000000;
    font-size:17px;
    line-height:30px;
    margin-bottom:20px;
    text-align:justify;
}

.about-boxes{
    display:flex;
    gap:20px;
    margin:40px 0;
    flex-wrap:wrap;
}

.about-boxes .box{
    width:160px;
    height:130px;
    border:2px solid #0A74DA;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.4s;
}

.about-boxes .box:hover{
    background:#0A74DA;
}

.about-boxes .box h3{
    color:#FF8C00;
    font-size:34px;
    margin-bottom:10px;
}

.about-boxes .box span{
    color:#000000;
    font-weight:600;
    text-align:center;
}

.about-boxes .box:hover span{
    color:#FFFFFF;
}

.about-btn{
    display:inline-block;
    padding:15px 35px;
    background:#FF8C00;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:600;
    border-radius:8px;
    border:2px solid #FF8C00;
    transition:.4s;
}

.about-btn:hover{
    background:#0A74DA;
    border-color:#0A74DA;
}
/*================== WHY CHOOSE US ==================*/

.why-choose{
    width:100%;
    padding:100px 8%;
    background:#FFFFFF;
}

.heading{
    text-align:center;
    margin-bottom:60px;
}

.heading h4{
    color:#FF8C00;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.heading h2{
    color:#000000;
    font-size:42px;
    margin-bottom:20px;
}

.heading p{
    color:#000000;
    font-size:17px;
    line-height:30px;
    max-width:700px;
    margin:auto;
}

.choose-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.choose-card{
    background:#FFFFFF;
    border:2px solid #0A74DA;
    border-radius:15px;
    padding:40px 30px;
    text-align:center;
    transition:.4s;
}

.choose-card:hover{
    background:#0A74DA;
    transform:translateY(-10px);
}

.choose-card i{
    font-size:55px;
    color:#FF8C00;
    margin-bottom:25px;
}

.choose-card h3{
    color:#000000;
    margin-bottom:15px;
    font-size:24px;
}

.choose-card p{
    color:#000000;
    line-height:28px;
    font-size:16px;
}

.choose-card:hover h3,
.choose-card:hover p{
    color:#FFFFFF;
}

@media(max-width:768px){

.heading h2{
    font-size:34px;
}

.heading p{
    font-size:16px;
}

.choose-card{
    padding:30px 20px;
}

}
/*================== MISSION & VISION ==================*/

.mission-vision{
    width:100%;
    padding:100px 8%;
    background:#000000;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h4{
    color:#FF8C00;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.section-title h2{
    color:#FFFFFF;
    font-size:42px;
    margin-bottom:20px;
}

.section-title p{
    color:#FFFFFF;
    font-size:17px;
    line-height:30px;
    max-width:750px;
    margin:auto;
}

.mission-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:35px;
}

.mission-card{
    background:#FFFFFF;
    border-top:6px solid #FF8C00;
    border-radius:18px;
    padding:45px 35px;
    transition:.5s;
}

.mission-card:hover{
    background:#0A74DA;
    transform:translateY(-10px);
}

.icon{
    width:80px;
    height:80px;
    background:#0A74DA;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;
}

.icon i{
    color:#FFFFFF;
    font-size:34px;
}

.mission-card h3{
    font-size:30px;
    color:#000000;
    margin-bottom:20px;
}

.mission-card p{
    color:#000000;
    line-height:30px;
    text-align:justify;
    font-size:16px;
}

.mission-card:hover h3,
.mission-card:hover p{
    color:#FFFFFF;
}

.mission-card:hover .icon{
    background:#FF8C00;
}

@media(max-width:768px){

.section-title h2{
    font-size:34px;
}

.mission-container{
    grid-template-columns:1fr;
}

.mission-card{
    padding:35px 25px;
}

}
/*================== HOTEL COUNTER ==================*/

.hotel-counter{
    width:100%;
    padding:100px 8%;
    background:#FFFFFF;
}

.counter-heading{
    text-align:center;
    margin-bottom:60px;
}

.counter-heading h4{
    color:#FF8C00;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.counter-heading h2{
    color:#000000;
    font-size:42px;
    margin-bottom:20px;
}

.counter-heading p{
    color:#000000;
    font-size:17px;
    line-height:30px;
    max-width:750px;
    margin:auto;
}

.counter-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:30px;
}

.counter-box{
    background:#0A74DA;
    color:#FFFFFF;
    text-align:center;
    padding:40px 25px;
    border-radius:15px;
    border:3px solid #0A74DA;
    transition:.5s;
}

.counter-box:hover{
    background:#FF8C00;
    border-color:#FF8C00;
    transform:translateY(-10px);
}

.counter-box i{
    font-size:50px;
    margin-bottom:20px;
}

.counter-box h2{
    font-size:45px;
    margin-bottom:10px;
    font-weight:700;
}

.counter-box h3{
    font-size:22px;
    font-weight:600;
}

@media(max-width:768px){

.counter-heading h2{
    font-size:34px;
}

.counter-heading p{
    font-size:16px;
}

.counter-box{
    padding:35px 20px;
}

.counter-box h2{
    font-size:36px;
}

.counter-box h3{
    font-size:20px;
}

}
/*================== OUR TEAM ==================*/

.our-team{
    width:100%;
    padding:100px 8%;
    background:#000000;
}

.team-heading{
    text-align:center;
    margin-bottom:60px;
}

.team-heading h4{
    color:#FF8C00;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.team-heading h2{
    color:#FFFFFF;
    font-size:42px;
    margin-bottom:20px;
}

.team-heading p{
    color:#FFFFFF;
    font-size:17px;
    line-height:30px;
    max-width:700px;
    margin:auto;
}

.team-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.team-card{
    background:#FFFFFF;
    border-radius:15px;
    overflow:hidden;
    transition:.5s;
    border:3px solid #0A74DA;
}

.team-card:hover{
    transform:translateY(-10px);
    border-color:#FF8C00;
}

.team-image{
    overflow:hidden;
}

.team-image img{
    width:100%;
    height:320px;
    object-fit:cover;
    transition:.5s;
}

.team-card:hover .team-image img{
    transform:scale(1.1);
}

.team-content{
    padding:25px;
    text-align:center;
}

.team-content h3{
    font-size:25px;
    color:#000000;
    margin-bottom:8px;
}

.team-content h5{
    color:#0A74DA;
    font-size:17px;
    margin-bottom:20px;
    font-weight:600;
}

.team-social{
    display:flex;
    justify-content:center;
    gap:12px;
}

.team-social a{
    width:42px;
    height:42px;
    background:#0A74DA;
    color:#FFFFFF;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.4s;
}

.team-social a:hover{
    background:#FF8C00;
}
.testimonials{
    padding:100px 8%;
    background:#F8FAFC;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.testimonial-card{
    background:#fff;
    color: black;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid orange;
    margin-bottom:20px;
}

.testimonial-card h3{
    color:#0d6efd;
}

.testimonial-card span{
    color:black;
    display:block;
    margin:10px 0;
}

.stars{
    color:orange;
    font-size:22px;
    margin-bottom:20px;
}

.testimonial-card p{
    color:black;
    line-height:1.8;
}
.section-title h2{
    color: black;
}
.section-title p{
    color: black;
}
/*================== FOOTER ==================*/

.footer{
    background:#000;
    color:#fff;
    padding-top:70px;
}

.footer-container{
    padding:0 7% 50px;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:50px;
}

.footer-logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}

.footer-logo i{
    color:#ff9800;
}

.footer-logo span{
    color:#ff9800;
}
.footer img{
    width:170px;
    height:auto;
}
.footer-box > p{
    line-height:1.7;
}

.footer-box h3{
    margin-bottom:20px;
    color:#ff9800;
}

.footer-box > a{
    display:block;
    color:#fff;
    margin-bottom:13px;
}

.footer-box > a:hover{
    color:#ff9800;
}

.footer-box > a i{
    color:#ff9800;
    margin-right:8px;
}

.footer-box > p{
    margin-bottom:15px;
}

.footer-box > p i{
    color:#ff9800;
    width:25px;
}

.social-icons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    background:#fff;
    color:#000;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:.3s;
}

.social-icons a:hover{
    background:#ff9800;
    color:#fff;
}

.copyright{
    border-top:1px solid #fff;
    text-align:center;
    padding:20px;
}



/* =========================================================
   COMPLETE DARK MODE - ABOUT PAGE
   Header and Hero already have their own styling
========================================================= */


/* ================= ABOUT SECTION ================= */

body.dark .about-section {
    background: #000000;
    color: #ffffff;
}

body.dark .about-content h4 {
    color: #ff9800;
}

body.dark .about-content h2 {
    color: #ffffff;
}

body.dark .about-content p {
    color: #ffffff;
}

body.dark .about-boxes .box {
    background: #000000;
    border: 2px solid #0d6efd;
    color: #ffffff;
}

body.dark .about-boxes .box h3 {
    color: #ff9800;
}

body.dark .about-boxes .box span {
    color: #ffffff;
}

body.dark .about-boxes .box:hover {
    background: #0d6efd;
}

body.dark .about-boxes .box:hover span {
    color: #ffffff;
}

body.dark .about-btn {
    background: #ff9800;
    color: #ffffff;
}

body.dark .about-btn:hover {
    background: #0d6efd;
    border-color: #0d6efd;
}


/* ================= WHY CHOOSE US ================= */

body.dark .why-choose {
    background: #000000;
    color: #ffffff;
}

body.dark .heading h4 {
    color: #ff9800;
}

body.dark .heading h2 {
    color: #ffffff;
}

body.dark .heading p {
    color: #ffffff;
}

body.dark .choose-card {
    background: #000000;
    border: 2px solid #0d6efd;
    color: #ffffff;
}

body.dark .choose-card i {
    color: #ff9800;
}

body.dark .choose-card h3 {
    color: #ffffff;
}

body.dark .choose-card p {
    color: #ffffff;
}

body.dark .choose-card:hover {
    background: #0d6efd;
}

body.dark .choose-card:hover h3,
body.dark .choose-card:hover p,
body.dark .choose-card:hover i {
    color: #ffffff;
}


/* ================= MISSION & VISION ================= */

body.dark .mission-vision {
    background: #000000;
    color: #ffffff;
}

body.dark .section-title h4 {
    color: #ff9800;
}

body.dark .section-title h2 {
    color: #ffffff;
}

body.dark .section-title p {
    color: #ffffff;
}

body.dark .mission-card {
    background: #000000;
    border-top: 6px solid #ff9800;
    color: #ffffff;
}

body.dark .mission-card h3 {
    color: #ffffff;
}

body.dark .mission-card p {
    color: #ffffff;
}

body.dark .mission-card .icon {
    background: #0d6efd;
}

body.dark .mission-card .icon i {
    color: #ffffff;
}

body.dark .mission-card:hover {
    background: #0d6efd;
}

body.dark .mission-card:hover h3,
body.dark .mission-card:hover p {
    color: #ffffff;
}

body.dark .mission-card:hover .icon {
    background: #ff9800;
}


/* ================= HOTEL COUNTER ================= */

body.dark .hotel-counter {
    background: #000000;
    color: #ffffff;
}

body.dark .counter-heading h4 {
    color: #ff9800;
}

body.dark .counter-heading h2 {
    color: #ffffff;
}

body.dark .counter-heading p {
    color: #ffffff;
}

body.dark .counter-box {
    background: #0d6efd;
    color: #ffffff;
    border: 3px solid #0d6efd;
}

body.dark .counter-box:hover {
    background: #ff9800;
    border-color: #ff9800;
}


/* ================= OUR TEAM ================= */

body.dark .our-team {
    background: #000000;
    color: #ffffff;
}

body.dark .team-heading h4 {
    color: #ff9800;
}

body.dark .team-heading h2 {
    color: #ffffff;
}

body.dark .team-heading p {
    color: #ffffff;
}

body.dark .team-card {
    background: #000000;
    border: 3px solid #0d6efd;
    color: #ffffff;
}

body.dark .team-content {
    background: #000000;
}

body.dark .team-content h3 {
    color: #ffffff;
}

body.dark .team-content h5 {
    color: #0d6efd;
}

body.dark .team-social a {
    background: #0d6efd;
    color: #ffffff;
}

body.dark .team-social a:hover {
    background: #ff9800;
    color: #ffffff;
}

body.dark .team-card:hover {
    border-color: #ff9800;
}


/* ================= TESTIMONIALS ================= */

body.dark .testimonials {
    background: #000000;
    color: #ffffff;
}

body.dark .testimonials .section-title h2 {
    color: #ffffff;
}

body.dark .testimonials .section-title p {
    color: #ffffff;
}

body.dark .testimonial-card {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: none;
}

body.dark .testimonial-card h3 {
    color: #0d6efd;
}

body.dark .testimonial-card span {
    color: #ffffff;
}

body.dark .testimonial-card p {
    color: #ffffff;
}

body.dark .stars {
    color: #ff9800;
}


/* ================= FOOTER ================= */

body.dark .footer {
    background: #000000;
    color: #ffffff;
}

body.dark .footer-logo {
    color: #ffffff;
}

body.dark .footer-logo span {
    color: #ff9800;
}

body.dark .footer-box > p {
    color: #ffffff;
}

body.dark .footer-box h3 {
    color: #ff9800;
}

body.dark .footer-box > a {
    color: #ffffff;
}

body.dark .footer-box > a:hover {
    color: #ff9800;
}

body.dark .footer-box > a i {
    color: #ff9800;
}

body.dark .footer-box > p i {
    color: #ff9800;
}


/* ================= SOCIAL ICONS ================= */

body.dark .social-icons a {
    background: #ffffff;
    color: #000000;
}

body.dark .social-icons a:hover {
    background: #ff9800;
    color: #ffffff;
}


/* ================= COPYRIGHT ================= */

body.dark .copyright {
    background: #000000;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

body.dark .copyright p {
    color: #ffffff;
}


/* ================= SMOOTH TRANSITION ================= */

body,
.about-section,
.why-choose,
.choose-card,
.mission-vision,
.mission-card,
.hotel-counter,
.counter-box,
.our-team,
.team-card,
.team-content,
.testimonials,
.testimonial-card,
.footer,
.copyright {
    transition:
        background 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease;
}
