
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #222222;
    padding-top: 90px;
    transition: 0.4s ease;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
/* ================= HEADER ================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    /* LIGHT MODE */
    background: #ffffff;
    color: #222222;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    z-index: 1000;

    transition: background 0.4s ease, color 0.4s ease;
}


/* ================= LOGO ================= */

.logo img {
    display: block;
    width: 170px;
    height: auto;
}


/* ================= NAVIGATION ================= */

.nav-links {
    list-style: none;

    display: flex;
    align-items: center;

    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;

    color: #222222;

    padding: 10px 0;

    font-weight: 500;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}


/* ================= DROPDOWN ================= */

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;

    width: 180px;

    background: #ffffff;

    border: 2px solid #ff9800;
    border-radius: 12px;

    display: none;

    overflow: hidden;

    list-style: none;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;

    padding: 12px 18px;

    color: #000000;
}

.dropdown-menu li a:hover {
    background: #ff9800;
    color: #ffffff;
}


/* ================= RIGHT BUTTONS ================= */

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right button,
.book-btn {

    height: 46px;

    padding: 0 22px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}


/* RTL BUTTON */

#rtlBtn {
    background: #ffffff;
    color: #0d6efd;
}

#rtlBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* THEME BUTTON */

#themeBtn {
    width: 46px;

    padding: 0;

    background: #ffffff;
    color: #0d6efd;
}

#themeBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* BOOK BUTTON */

.book-btn {
    background: #ff9800;
    color: #ffffff;
}

.book-btn:hover {
    background: #ffb347;
    color: #000000;
}


/* =================================================
                DARK MODE HEADER
================================================= */

body.dark .header {
    background: #000000;
    color: #ffffff;
}

body.dark .nav-links a {
    color: #ffffff;
}

body.dark .nav-links a:hover {
    color: #ff9800;
}


/* DARK MODE DROPDOWN */

body.dark .dropdown-menu {
    background: #000000;
    border-color: #ff9800;
}

body.dark .dropdown-menu li a {
    color: #ffffff;
}

body.dark .dropdown-menu li a:hover {
    background: #ff9800;
    color: #ffffff;
}


/* DARK MODE BUTTONS */

body.dark #rtlBtn,
body.dark #themeBtn {
    background: #ffffff;
    color: #0d6efd;
}

body.dark #rtlBtn:hover,
body.dark #themeBtn:hover {
    background: #ff9800;
    color: #ffffff;
}


/* =================================================
                    RTL
================================================= */

html[dir="rtl"] .header {
    flex-direction: row-reverse;
}

html[dir="rtl"] .header-right {
    flex-direction: row-reverse;
}


/* =================================================
                  RESPONSIVE
================================================= */

@media (max-width: 768px) {

    .header {
        height: auto;

        padding: 15px 5%;

        flex-wrap: wrap;

        gap: 15px;
    }

    .nav-links {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;

        gap: 20px;
    }

    .header-right {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;
    }

    .logo img {
        width: 150px;
    }
}
 
 
 

/* ================= HERO ================= */

.hero{
    min-height:620px;
    display:flex;
    align-items:center;
    padding:80px 8%;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("image/home\ page.png");

    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:650px;
    color:#fff;
}

.hero-small{
    color:#ff9800;
    font-size:15px;
    font-weight:bold;
    letter-spacing:2px;
    margin-bottom:18px;
}

.hero-small i{
    margin-right:7px;
}

.hero h1{
    font-size:65px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero h1 span{
    color:#ff9800;
}

.hero p{
    font-size:18px;
    line-height:1.7;
}

.hero-buttons{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.primary-btn,
.secondary-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:15px 25px;
    border-radius:5px;
    font-weight:bold;
    transition:.3s;
}

.primary-btn{
    background:#ff9800;
    color:#fff;
}

.primary-btn:hover{
    background:#0d6efd;
}

.secondary-btn{
    border:2px solid #fff;
    color:#fff;
}

.secondary-btn:hover{
    background:#fff;
    color:#000;
}


/* ================= SEARCH ================= */

.search-section{
    padding:0 7%;
    margin-top:-45px;
    position:relative;
    z-index:10;
}

.search-box{
    background:#fff;
    padding:25px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 8px 30px rgba(0,0,0,.2);
    border-radius:6px;
}

.search-item{
    flex:1;
    display:flex;
    align-items:center;
    gap:12px;
}

.search-item > i{
    color:#0d6efd;
    font-size:22px;
}

.search-item label{
    display:block;
    font-size:13px;
    font-weight:bold;
    margin-bottom:6px;
}

.search-item input,
.search-item select{
    border:none;
    outline:none;
    width:100%;
    font-size:14px;
    color:#000;
}

.search-btn{
    border:none;
    background:#ff9800;
    color:#fff;
    padding:17px 25px;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}

.search-btn:hover{
    background:#0d6efd;
}


/* ================= SECTION TITLE ================= */

.section-title{
    text-align:center;
    margin-bottom:45px;
}

.section-title p,
.small-title{
    color:#ff9800;
    font-weight:bold;
    letter-spacing:2px;
    font-size:14px;
    margin-bottom:10px;
}

.section-title h2{
    font-size:38px;
    color:#000;
    line-height:1.3;
}

.section-title h2 span{
    color:#0d6efd;
}

.title-line{
    width:60px;
    height:4px;
    background:#ff9800;
    margin:15px auto 0;
}


/* ================= FACILITIES ================= */

.facilities{
    padding:90px 7%;
    background:#fff;
}

.facility-container{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}

.facility-box{
    text-align:center;
    border:2px solid #000;
    padding:30px 15px;
    transition:.3s;
}

.facility-box:hover{
    background:#0d6efd;
    color:#fff;
    transform:translateY(-8px);
}

.facility-icon{
    width:65px;
    height:65px;
    margin:0 auto 18px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ff9800;
    color:#fff;
    border-radius:50%;
    font-size:25px;
}

.facility-box h3{
    margin-bottom:10px;
}

.facility-box p{
    font-size:14px;
    line-height:1.5;
}


/* ================= ABOUT ================= */

.about{
    padding:90px 7%;
    display:flex;
    align-items:center;
    gap:70px;
    background:#000;
    color:#fff;
}

.about-image{
    width:50%;
    position:relative;
}

.about-image img{
    height:500px;
    object-fit:cover;
}

.experience{
    position:absolute;
    bottom:25px;
    right:-25px;
    background:#ff9800;
    color:#fff;
    padding:20px 25px;
    display:flex;
    align-items:center;
    gap:15px;
}

.experience i{
    font-size:35px;
}

.experience strong{
    display:block;
    font-size:28px;
}

.experience span{
    font-size:13px;
}

.about-content{
    width:50%;
}

.about-content h2{
    font-size:40px;
    line-height:1.3;
    margin-bottom:20px;
}

.about-content h2 span{
    color:#ff9800;
}

.about-content > p{
    line-height:1.8;
    margin-bottom:15px;
}

.about-features{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin:25px 0;
}

.about-features div{
    display:flex;
    align-items:center;
    gap:10px;
}

.about-features i{
    color:#ff9800;
}


/* ================= DESTINATIONS ================= */

.destinations{
    padding:90px 7%;
}

.destination-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.destination-card{
    height:380px;
    position:relative;
    overflow:hidden;
}

.destination-card img{
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.destination-card:hover img{
    transform:scale(1.1);
}

.destination-content{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:25px;
    color:#fff;
    background:linear-gradient(transparent,rgba(0,0,0,.9));
}

.destination-content i{
    color:#ff9800;
}

.destination-content h3{
    font-size:25px;
    margin-top:7px;
}

.destination-content p{
    margin-top:5px;
}


/* ================= ROOMS ================= */

.rooms{
    padding:90px 7%;
    background:#000;
}

.rooms .section-title h2{
    color:#fff;
}

.room-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.room-card{
    background:#fff;
}

.room-image{
    height:250px;
    position:relative;
    overflow:hidden;
}

.room-image img{
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.room-card:hover .room-image img{
    transform:scale(1.08);
}

.price{
    position:absolute;
    top:15px;
    right:15px;
    background:#ff9800;
    color:#fff;
    padding:10px 14px;
    font-weight:bold;
}

.room-content{
    padding:25px;
}

.rating{
    color:#ff9800;
    margin-bottom:10px;
}

.room-content h3{
    font-size:24px;
    margin-bottom:10px;
}

.room-content p{
    line-height:1.6;
    margin-bottom:20px;
}

.room-info{
    display:flex;
    gap:15px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding:15px 0;
    margin-bottom:20px;
    font-size:13px;
}

.room-info span{
    display:flex;
    align-items:center;
    gap:5px;
}

.room-info i{
    color:#0d6efd;
}

.room-btn{
    color:#0d6efd;
    font-weight:bold;
}

.room-btn:hover{
    color:#ff9800;
}

.room-btn i{
    margin-left:5px;
}


/* ================= TESTIMONIAL ================= */

.testimonial{
    padding:90px 7%;
}

.testimonial-box{
    max-width:800px;
    margin:auto;
    text-align:center;
    border:2px solid #000;
    padding:45px;
}

.quote{
    width:60px;
    height:60px;
    background:#ff9800;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin:0 auto 20px;
    font-size:25px;
}

.testimonial-box > p{
    font-size:19px;
    line-height:1.8;
    margin-bottom:25px;
}

.guest{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.guest-icon{
    width:55px;
    height:55px;
    background:#0d6efd;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}


/* ================= CTA ================= */

.cta{
    padding:80px 7%;
    background:#0d6efd;
    text-align:center;
    color:#fff;
}

.cta-content > i{
    font-size:50px;
    color:#ff9800;
    margin-bottom:15px;
}

.cta h2{
    font-size:40px;
    margin-bottom:15px;
}

.cta h2 span{
    color:#ff9800;
}

.cta p{
    font-size:18px;
    margin-bottom:25px;
}

.cta-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:#ff9800;
    color:#fff;
    padding:15px 28px;
    border-radius:5px;
    font-weight:bold;
}

.cta-btn:hover{
    background:#000;
}


/* ================= FOOTER ================= */

.footer{
    background:#000;
    color:#fff;
    padding-top:70px;
}

.footer-container{
    padding:0 7% 50px;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:50px;
}

.footer-logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}

.footer-logo i{
    color:#ff9800;
}

.footer-logo span{
    color:#ff9800;
}
.footer img{
    width:170px;
    height:auto;
}
.footer-box > p{
    line-height:1.7;
}

.footer-box h3{
    margin-bottom:20px;
    color:#ff9800;
}

.footer-box > a{
    display:block;
    color:#fff;
    margin-bottom:13px;
}

.footer-box > a:hover{
    color:#ff9800;
}

.footer-box > a i{
    color:#ff9800;
    margin-right:8px;
}

.footer-box > p{
    margin-bottom:15px;
}

.footer-box > p i{
    color:#ff9800;
    width:25px;
}

.social-icons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    background:#fff;
    color:#000;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:.3s;
}

.social-icons a:hover{
    background:#ff9800;
    color:#fff;
}

.copyright{
    border-top:1px solid #fff;
    text-align:center;
    padding:20px;
}


/* ================= RESPONSIVE ================= */

@media(max-width:1100px){

    .navbar{
        gap:15px;
    }

    .facility-container{
        grid-template-columns:repeat(3,1fr);
    }

    .destination-container{
        grid-template-columns:repeat(2,1fr);
    }

    .room-container{
        grid-template-columns:repeat(2,1fr);
    }

    .search-box{
        flex-wrap:wrap;
    }

    .search-item{
        min-width:40%;
    }

}


@media(max-width:768px){

    .header{
        height:auto;
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .navbar{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        min-height:550px;
        padding:60px 7%;
    }

    .hero h1{
        font-size:45px;
    }

    .search-section{
        margin-top:20px;
    }

    .search-box{
        flex-direction:column;
        align-items:stretch;
    }

    .search-item{
        width:100%;
    }

    .facility-container,
    .destination-container,
    .room-container{
        grid-template-columns:1fr;
    }

    .about{
        flex-direction:column;
    }

    .about-image,
    .about-content{
        width:100%;
    }

    .about-image img{
        height:400px;
    }

    .footer-container{
        grid-template-columns:1fr;
    }

}


@media(max-width:480px){

    .navbar{
        gap:12px;
    }

    .navbar a{
        font-size:14px;
    }

    .hero h1{
        font-size:38px;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .about-features{
        grid-template-columns:1fr;
    }

    .section-title h2{
        font-size:30px;
    }
}






/* =========================================================
   COMPLETE DARK MODE
   Applies to all sections except the hero design
========================================================= */


/* ================= SEARCH SECTION ================= */

body.dark .search-section {
    background: #000;
}

body.dark .search-box {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

body.dark .search-item label {
    color: #fff;
}

body.dark .search-item input,
body.dark .search-item select {
    background: #000;
    color: #fff;
}

body.dark .search-item input::placeholder {
    color: #fff;
}

body.dark .search-item input[type="date"] {
    color-scheme: dark;
}

body.dark .search-item select {
    color-scheme: dark;
}

body.dark .search-btn {
    background: #ff9800;
    color: #fff;
}

body.dark .search-btn:hover {
    background: #0d6efd;
}


/* ================= SECTION TITLES ================= */

body.dark .section-title h2 {
    color: #fff;
}

body.dark .section-title h2 span {
    color: #0d6efd;
}

body.dark .section-title p,
body.dark .small-title {
    color: #ff9800;
}


/* ================= FACILITIES ================= */

body.dark .facilities {
    background: #000;
    color: #fff;
}

body.dark .facility-box {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}

body.dark .facility-box h3 {
    color: #fff;
}

body.dark .facility-box p {
    color: #fff;
}

body.dark .facility-icon {
    background: #ff9800;
    color: #fff;
}

body.dark .facility-box:hover {
    background: #0d6efd;
    color: #fff;
}

body.dark .facility-box:hover h3,
body.dark .facility-box:hover p {
    color: #fff;
}


/* ================= ABOUT SECTION ================= */

/* Your About section is already black,
   so keep it black in dark mode */

body.dark .about {
    background: #000;
    color: #fff;
}

body.dark .about-content h2 {
    color: #fff;
}

body.dark .about-content h2 span {
    color: #ff9800;
}

body.dark .about-content > p {
    color: #fff;
}

body.dark .about-features {
    color: #fff;
}

body.dark .about-features span {
    color: #fff;
}

body.dark .about-features i {
    color: #ff9800;
}

body.dark .experience {
    background: #ff9800;
    color: #fff;
}


/* ================= DESTINATIONS ================= */

body.dark .destinations {
    background: #000;
    color: #fff;
}

body.dark .destinations .section-title h2 {
    color: #fff;
}

body.dark .destination-content {
    color: #fff;
}


/* ================= ROOMS ================= */

body.dark .rooms {
    background: #000;
    color: #fff;
}

body.dark .rooms .section-title h2 {
    color: #fff;
}

body.dark .room-card {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

body.dark .room-content {
    background: #000;
    color: #fff;
}

body.dark .room-content h3 {
    color: #fff;
}

body.dark .room-content p {
    color: #fff;
}

body.dark .room-info {
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

body.dark .room-info span {
    color: #fff;
}

body.dark .room-info i {
    color: #0d6efd;
}

body.dark .room-btn {
    color: #0d6efd;
}

body.dark .room-btn:hover {
    color: #ff9800;
}

body.dark .price {
    background: #ff9800;
    color: #fff;
}


/* ================= TESTIMONIAL ================= */

body.dark .testimonial {
    background: #000;
    color: #fff;
}

body.dark .testimonial .section-title h2 {
    color: #fff;
}

body.dark .testimonial-box {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}

body.dark .testimonial-box > p {
    color: #fff;
}

body.dark .guest h3 {
    color: #fff;
}

body.dark .guest-icon {
    background: #0d6efd;
    color: #fff;
}

body.dark .quote {
    background: #ff9800;
    color: #fff;
}

body.dark .rating {
    color: #ff9800;
}


/* ================= CTA ================= */

/* Keep your blue CTA in dark mode */

body.dark .cta {
    background: #0d6efd;
    color: #fff;
}

body.dark .cta h2 {
    color: #fff;
}

body.dark .cta h2 span {
    color: #ff9800;
}

body.dark .cta p {
    color: #fff;
}

body.dark .cta-content > i {
    color: #ff9800;
}

body.dark .cta-btn {
    background: #ff9800;
    color: #fff;
}

body.dark .cta-btn:hover {
    background: #000;
    color: #fff;
}


/* ================= FOOTER ================= */

body.dark .footer {
    background: #000;
    color: #fff;
}

body.dark .footer-logo {
    color: #fff;
}

body.dark .footer-logo span {
    color: #ff9800;
}

body.dark .footer-box > p {
    color: #fff;
}

body.dark .footer-box h3 {
    color: #ff9800;
}

body.dark .footer-box > a {
    color: #fff;
}

body.dark .footer-box > a:hover {
    color: #ff9800;
}

body.dark .footer-box > a i {
    color: #ff9800;
}

body.dark .footer-box > p i {
    color: #ff9800;
}


/* ================= SOCIAL ICONS ================= */

body.dark .social-icons a {
    background: #fff;
    color: #000;
}

body.dark .social-icons a:hover {
    background: #ff9800;
    color: #fff;
}


/* ================= COPYRIGHT ================= */

body.dark .copyright {
    background: #000;
    color: #fff;
    border-top: 1px solid #fff;
}

body.dark .copyright p {
    color: #fff;
}


/* ================= SMOOTH TRANSITION ================= */

body,
.search-section,
.search-box,
.facilities,
.facility-box,
.about,
.destinations,
.rooms,
.room-card,
.room-content,
.testimonial,
.testimonial-box,
.footer,
.copyright,
.cta {
    transition:
        background 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease;
}
