*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:black;
    transition:.4s;
}

/* Dark Mode */

body.dark{
    background:black;
    color:white;
}

/* Header */

header{
    width:100%;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

body.dark header{
    background:#1f2937;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:10px;

}

.logo img{
    width:80px;
    height: 80px;
}

.logo h2{
    font-size:30px;
}

.logo span{
    color:#0d6efd;
}

/* Navigation */

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 18px;
}

nav ul li a{
    text-decoration:none;
    color:inherit;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#0d6efd;
}

/* Right Side */

.right-menu{
    display:flex;
    align-items:center;
    gap:15px;
}

button{
    cursor:pointer;
}

/* Toggle Buttons */

.icon-btn{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:white;
    font-size:18px;
}

body.dark .icon-btn{
    background:black;
    color:white;
}

/* Book Button */

.book-btn{
    padding:12px 24px;
    border:none;
    border-radius:30px;
    background:#0d6efd;
    color:white;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

.book-btn:hover{
    background:orange;
}
.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:40px;
    color:#0d6efd;
    margin-bottom:10px;
}

.section-title p{
    color:black;
}

/*==================== DESTINATIONS ====================*/

.destinations{
    padding:100px 8%;
    background:#fff;
}

.destination-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.destination-card{
    position:relative;
    overflow:hidden;
    border-radius:20px;
    cursor:pointer;
}

.destination-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    transition:.5s;
}

.destination-card:hover img{
    transform:scale(1.1);
}

.destination-info{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:20px;
    color:#fff;
    background:linear-gradient(transparent,rgba(0,0,0,.8));
}

.destination-info h3{
    font-size:28px;
}

.destination-info p{
    margin-top:5px;
}

/*==================== HOTELS ====================*/

.featured-hotels{
    padding:100px 8%;
    background:#F8FAFC;
}

.hotel-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:35px;
}

.hotel-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.4s;
}

.hotel-card:hover{
    transform:translateY(-10px);
}

.hotel-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.hotel-content{
    padding:25px;
}

.hotel-content h3{
    color:#0d6efd;
    margin-bottom:10px;
}

.rating{
    color:orange;
    margin-bottom:10px;
}

.hotel-content p{
    color:black;
    margin-bottom:20px;
}

.price{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.price h4{
    color:orange;
    font-size:24px;
}

.price span{
    color:black;
    font-size:15px;
}

.price a{
    text-decoration:none;
    background:#0d6efd;
    color:#fff;
    padding:10px 20px;
    border-radius:30px;
    transition:.3s;
}

.price a:hover{
    background:orange;
}

.why-choose{
    padding:100px 8%;
    background:#ffffff;
}

.choose-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.choose-card{
    background:#F8FAFC;
    padding:40px 30px;
    text-align:center;
    border-radius:20px;
    transition:.4s;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.choose-card:hover{
    transform:translateY(-10px);
    background:#0d6efd;
}

.choose-card i{
    font-size:55px;
    color:orange;
    margin-bottom:20px;
}

.choose-card h3{
    color:#0d6efd;
    margin-bottom:15px;
    transition:.3s;
}

.choose-card p{
    color:black;
    line-height:1.7;
    transition:.3s;
}

.choose-card:hover h3,
.choose-card:hover p{
    color:#ffffff;
}

/*================ FACILITIES ================*/

.facilities{
    padding:100px 8%;
    background:white;
}

.facility-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.facility-card{
    background:#ffffff;
    border-radius:20px;
    padding:40px;
    text-align:center;
    transition:.4s;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.facility-card:hover{
    background:orange;
    transform:translateY(-8px);
}

.facility-card i{
    font-size:50px;
    color:#0d6efd;
    margin-bottom:20px;
    transition:.3s;
}

.facility-card h3{
    color:#0d6efd;
    transition:.3s;
}

.facility-card:hover i,
.facility-card:hover h3{
    color:#ffffff;
}
/*==================== SPECIAL OFFERS ====================*/

.offers{
    padding:100px 8%;
    background:#ffffff;
}

.offer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.offer-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
    transition:.4s;
}

.offer-card:hover{
    transform:translateY(-10px);
}

.offer-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:.5s;
}

.offer-card:hover img{
    transform:scale(1.08);
}

.offer-content{
    padding:30px;
}

.offer-tag{
    display:inline-block;
    background:orange;
    color:#fff;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
    margin-bottom:18px;
}

.offer-content h3{
    color:#0d6efd;
    margin-bottom:15px;
    font-size:28px;
}

.offer-content p{
    color:black;
    line-height:1.8;
    margin-bottom:25px;
}

.offer-btn{
    display:inline-block;
    text-decoration:none;
    background:#0d6efd;
    color:#fff;
    padding:12px 30px;
    border-radius:30px;
    font-weight:600;
    transition:.3s;
}

.offer-btn:hover{
    background:orange;
    color: black;
}
.testimonials{
    padding:100px 8%;
    background:#F8FAFC;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.testimonial-card{
    background:#fff;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid orange;
    margin-bottom:20px;
}

.testimonial-card h3{
    color:#0d6efd;
}

.testimonial-card span{
    color:black;
    display:block;
    margin:10px 0;
}

.stars{
    color:orange;
    font-size:22px;
    margin-bottom:20px;
}

.testimonial-card p{
    color:black;
    line-height:1.8;
}
.footer-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:50px.20px;
    background-color: white;
    color: black;    
    margin-top: 400px;
}

.footer-container li{
    list-style: none;
}
.footer-container a{
    text-decoration: none;
    color: black;
}

    
.footer-container h2{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    color: blue;
}
.footer-container img{
    display: flex;
    width:100px;
    height: 70px;
}
.footer-bottom{
    text-align:center;
    color:black;
    font-size:15px;
    background-color: white;
    padding: 0px opx 20px 0px;
}
.hero-banner{
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 30px;
    background-image: url("image/home\ page.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    color: white;
}
.hero-banner h5{
    font-size: 30px;
}
.hero-banner h1{
    font-size: 50px;
}
.hero-banner button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.hero-banner button:hover{
    background-color: orange;
    color: black;
}