*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.header-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 1;
}

.image{
    display: flex;
    width: 50px;
    height: 40px;
}

.nav-links{
    display: flex;
    gap:30px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
.nav-links a:hover{
    color: red;
    border-bottom: 1px solid;
}

.header-button button{
    background-color: blueviolet;
    color: black;
    padding: 10px;
    border-radius: 15px;
}
.hero-banner{
    text-align: center;      
    width: 100%;
    gap: 20px;
    padding: 30px;
    background-image: url("image/1-1-2.png.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;          
    flex-direction: column; 
    justify-content: center;
    align-items: center;    

    height: 80vh;
    margin: 0;

}
.hero-banner h3{
font-size: 65px;
margin-bottom: 15px;
}
.hero-banner p{
    font-size: 18px;
    margin-bottom: 15px;
}
.hero-banner button{
    padding: 10px;
    border-radius: 10px;
    background-colour: blueviolet;
    color: black;
}

.hero-banner button:hover{
    color: blue;
    border-bottom: 1px soloid;
}
.h1{
    font-size: 70px;
}

.about-us{
    display: flex;
    gap:50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
}
.right-container{
    width: 50%;
    animation:bottomslide 4s infinite;
}
 
@keyframes bottomslide{
    from{
        transform: translateY(150px);
        opacity:0.3;
    }
    to{
        transform: translateY(0);
        opacity:1;
    }
}
.right-container h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.right-container p{
    font-size: 20px;
    margin-bottom: 15px;
}
.about-us button{
    gap: 20px;
    padding:10px;
    border-radius: 10px;
    background: blueviolet;
    color: white;
}
.about-us button:hover{
    color: blue;
    border-bottom: 1px soloid;
}
.left-container{
    width: 50%;
    animation: leftslide 4s infinite;
}
@keyframes leftslide{
    from{
        transform: translateX(-150px);
        opacity: 0.3;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.left-container img{
    width:500px;
    height:500px;
    border-radius: 20px;
    object-fit: cover;

}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    
    animation:leftslide 4s infinite;
}
 
@keyframes leftslide{
    from{
        transform: translateX(150px);
        opacity:0.3;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}


.service-card{
    width: 30%;
    min-width: 300px;
    padding: 20px;
    background-color: burlywood;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.service-card h1{
    padding: 20px 0;
}

.service-card p{
    padding: 0 10px;
}


.Featured-listings{
    padding: 15px 30px;
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}
.Featured-listings img{
    height: 250px;
    border-radius: 20px;
   
    animation:rightslide 4s infinite;
}
 
@keyframes rightslide{
    from{
        transform: translateX(150px);
        opacity:0.3;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
} 

    
    
 

.Featured-listings button{
    gap: 20px;
    padding:10px;
    border-radius: 10px;
    background: blueviolet;
    color: white;
}
.Featured-listings button:hover{
    color: blue;
    border-bottom: 1px soloid;
}
.left-container-1{
    width: 30%;
}
.right-container-1{
    width: 70%;
}
.left-container-1 img{
    align-items: left;
}

.team-section{
    text-align: center;
    padding: 50px 20px;
}

.team-section h1{
    margin-bottom: 30px;
}

.Team{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.Team div{
    text-align: center;
}

.Team img{
    width: 300px;
    height: 300px;
    border-radius:20px ;
    
    animation:upslide 4s infinite;
}
 
@keyframes upslide{
    from{
        transform: translateY(0px);
        opacity:0.3;
    }
    to{
        transform: translateY(50px);
        opacity:1;
    }
}


.footer-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:50px.20px;
    background-color: black;
    color: white;    
}

.footer-container li{
    list-style: none;
}
.footer-container a{
    text-decoration: none;
    color: white;
}
.footer-container h2{
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}
.Reviews{
        text-align:center;
        padding:50px 20px;
}
.Testimonal-container{
    display: flex;
    justify-content: space-around;
   
    flex-wrap: wrap;
    margin-top: 40px;
}
.testimonal{
    width: 300px;
    background: bisque;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.stars{
    color: blac;
}

